@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.website--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto 700px 700px 300px 50px;
      grid-template-rows: auto auto auto 700px 700px 300px 50px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
}

body.active {
  overflow: hidden;
}

p {
  line-height: 1.6;
  color: #9194a1;
  margin-top: 1em;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
}

img {
  display: block;
}

.button {
  padding: 0.75em 1em;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-box-shadow: 0 2px 10px rgba(10, 10, 10, 0.25);
          box-shadow: 0 2px 10px rgba(10, 10, 10, 0.25);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 2em;
}

@media only screen and (max-width: 950px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav .nav__img {
  position: relative;
  z-index: 998;
}

.nav #nav__hamburger {
  background: none;
  border: none;
  display: none;
  position: relative;
  z-index: 999;
}

.nav #nav__hamburger .hamburger-img {
  width: 25px;
}

.nav #nav__hamburger .x-img {
  width: 25px;
  display: none;
}

@media only screen and (max-width: 950px) {
  .nav #nav__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__links--wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap {
    position: fixed;
    background: rgba(37, 43, 70, 0.918);
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.nav__links--wrap .links__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5.2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul li {
    padding: 1em 0;
    width: 100%;
    text-align: center;
  }
}

.nav__links--wrap .links__ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #252b46;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
}

.nav__links--wrap .links__ul li a:hover {
  color: #fa5757;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul li a {
    color: white;
    font-size: 1.6rem;
  }
}

.nav__links--wrap .links__ul li .login-btn {
  display: block;
  padding: 0.75em 2em;
  background: #fa5757;
  color: white;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.nav__links--wrap .links__ul li .login-btn:hover {
  background: white;
  color: #fa5757;
  outline: solid #fa5757 0.15em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul li .login-btn {
    background: none;
    border: solid white 2px;
    width: 100%;
  }
}

.nav__links--wrap .links__ul li ~ li {
  margin-left: 2em;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul li ~ li {
    margin-left: 0;
  }
}

.nav__links--wrap .links__ul hr {
  display: none;
}

@media only screen and (max-width: 950px) {
  .nav__links--wrap .links__ul hr {
    display: block;
    width: 100%;
    color: #9194a1;
  }
}

.nav__links--wrap.active {
  visibility: visible;
  opacity: 1;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2em 0;
}

.hero-section .hero-grid--container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "info img";
}

@media only screen and (max-width: 950px) {
  .hero-section .hero-grid--container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "img" "info";
  }
}

.hero-section .hero-grid--container .hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  margin-left: 2em;
}

@media only screen and (max-width: 950px) {
  .hero-section .hero-grid--container .hero-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin: 0 2em;
  }
}

.hero-section .hero-grid--container .hero-info .hero-info--wrap {
  max-width: 550px;
  margin-top: 3em;
}

@media only screen and (max-width: 950px) {
  .hero-section .hero-grid--container .hero-info .hero-info--wrap {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-section .hero-grid--container .hero-info .hero-info--wrap .hero-info__h1 {
  font-size: clamp(2.8rem, 7vw, 4.5rem);
  font-weight: 500;
  max-width: 20ch;
}

.hero-section .hero-grid--container .hero-info .hero-info--wrap .hero-info__p {
  color: #9194a1;
  margin-top: 1em;
  max-width: 45ch;
}

.hero-section .hero-grid--container .hero-image--wrap {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 950px) {
  .hero-section .hero-grid--container .hero-image--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-section .hero-grid--container .hero-image--wrap .hero-img {
  width: 100%;
  max-width: 650px;
}

.hero-section .hero-grid--container .hero-image--wrap .hero-bg {
  background: #5368df;
  height: 65%;
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 999px 0 0 999px;
  z-index: -1;
}

.hero-info__buttons--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.hero-info__buttons--wrap a {
  display: block;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.6rem;
}

@media only screen and (max-width: 950px) {
  .hero-info__buttons--wrap a {
    font-size: 1.4rem;
  }
}

.hero-info__buttons--wrap .hero-button--chrome {
  background: #5368df;
  color: white;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.hero-info__buttons--wrap .hero-button--chrome:hover {
  background: white;
  color: #5368df;
  outline: solid #5368df 0.15em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero-info__buttons--wrap .hero-button--firefox {
  color: black;
  background: #f8f8f8;
  margin-left: 1em;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.hero-info__buttons--wrap .hero-button--firefox:hover {
  background: white;
  color: black;
  outline: solid black 0.15em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.features-section {
  padding: 2em 0;
}

.features-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2em;
}

.features-header .title--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-header__p {
  max-width: 47ch;
  text-align: center;
}

.features-header__h2 {
  text-align: center;
  font-size: clamp(2.6rem, 5vw, 3.2rem);
}

.tabs--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2em;
}

.tabs--wrap hr {
  display: none;
  width: 100%;
  border: solid #dfdfdf 1px;
  outline: none;
}

@media only screen and (max-width: 950px) {
  .tabs--wrap hr {
    display: block;
  }
}

.tabs--wrap .tabs__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  max-width: 700px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 950px) {
  .tabs--wrap .tabs__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tabs--wrap .tabs__ul .tabs__li {
  width: 100%;
  position: relative;
}

.tabs--wrap .tabs__ul .tabs__li .tab-links {
  width: 100%;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: border 0.25s;
  transition: border 0.25s;
  color: #9194a1;
}

.tabs--wrap .tabs__ul .tabs__li .tab-links.active {
  color: black;
}

.tabs--wrap .tabs__ul .tabs__li .tab-links:hover {
  color: #fa5757;
}

.tabs--wrap .tabs__ul .tabs__li .tab-links:hover {
  color: #fa5757;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.tabs--wrap .tabs__ul .tabs__li .tab-links.active::before {
  content: "";
  height: 3px;
  width: 100%;
  background: #fa5757;
  bottom: -0.25em;
  left: 0px;
  position: absolute;
}

@media only screen and (max-width: 950px) {
  .tabs--wrap .tabs__ul .tabs__li .tab-links.active::before {
    width: 40%;
    left: 30%;
    bottom: -0.12em;
    height: 5px;
  }
}

.tabs--wrap .tabs__ul .tabs__li .tab-links::before {
  content: "";
  height: 3px;
  width: 100%;
  background: #e0e0e0;
  bottom: -0.25em;
  left: 0;
  position: absolute;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

@media only screen and (max-width: 950px) {
  .tabs--wrap .tabs__ul .tabs__li .tab-links::before {
    width: 40%;
    left: 30%;
    bottom: -0.12em;
    background: none;
    height: 5px;
  }
}

.features--grid {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 950px) {
  .features--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.features--grid .features__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0em 4em 0em;
  position: relative;
}

@media only screen and (max-width: 950px) {
  .features--grid .features__images {
    padding: 2em 0;
  }
}

.features--grid .features__images .feature-img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  width: 100%;
  max-height: 346px;
  margin-left: 2em;
  margin-right: 1em;
  display: none;
  -webkit-animation: fadeIn 0.25s ease-in-out;
          animation: fadeIn 0.25s ease-in-out;
}

@media only screen and (max-width: 950px) {
  .features--grid .features__images .feature-img {
    -o-object-position: unset;
       object-position: unset;
    max-height: 320px;
    margin: 0 2em;
  }
}

@media only screen and (max-width: 450px) {
  .features--grid .features__images .feature-img {
    max-height: 207px;
    margin: 0;
  }
}

.features--grid .features__images .feature-img.active {
  display: block;
}

.features--grid .features__images #simple-img.active {
  display: block;
}

.features--grid .features__images .features__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 90%;
  border-radius: 0 999px 999px 0;
  background: #5368df;
  z-index: -1;
}

@media only screen and (max-width: 950px) {
  .features--grid .features__images .features__bg {
    width: 75%;
  }
}

.features--grid .features__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin-right: 2em;
}

@media only screen and (max-width: 950px) {
  .features--grid .features__info {
    margin-right: 0;
    margin-top: 2em;
    max-width: unset;
    text-align: center;
  }
}

.features--grid .features__info #simple-info.active {
  display: block;
}

.features--grid .features__info .info--wrap {
  display: none;
  margin: 0 1em;
  -webkit-animation: fadeIn 0.25s ease-in-out;
          animation: fadeIn 0.25s ease-in-out;
}

.features--grid .features__info .info--wrap.active {
  display: block;
}

.features--grid .features__info .info--wrap .info__p {
  max-width: 35ch;
}

.features--grid .features__info .info--wrap .info__h2 {
  font-size: clamp(2.6rem, 5vw, 3.2rem);
}

.features--grid .features__info .info--wrap .features__btn {
  margin: 1em 0 0 0;
  text-decoration: none;
  display: block;
  background: #5368df;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
}

@media only screen and (max-width: 950px) {
  .features--grid .features__info .info--wrap .features__btn {
    margin: 1em auto 0 auto;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */