.hero--grid {
    display: grid;
    max-width: 1400px;
    width: 100%;
    // outline: solid pink 5px;
    grid-template-columns: 1fr auto;
    grid-template-areas: ". main";
}

.hero-section {
    // outline: solid red 1px;
    @include flexCenter();
    position: relative;
    z-index: -1;

    &__background {
        width: 600px;
        height: 350px;
        background: color(primary-blue);
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        border-radius: 999px 0 0 999px;
    }

    &--wrap {
        // outline: solid green 2px;
        max-width: 1300px;
        display: flex;
        margin-left: $margin;
        grid-area: main;
        // margin: $margin;

        @include mobileSize {
            flex-wrap: wrap;
        }

        .hero-info {
            display: flex;
            flex-direction: column;
            padding: 2em 2em 2em 0;
            // outline: solid brown 2px;

            &__h1 {
                font-size: 4.5rem;
                font-weight: 500;
                margin-top: 1em;
            }

            &__p {
                color: color(neutral-grayish-blue);
                margin-top: 1em;
            }
        }

        .hero-info__img {
            width: 100%;
            height: auto;
        }
    }
}
