.hero--grid {
    display: grid;
    max-width: 1350px;
    width: 100%;
    // outline: solid pink 5px;
    grid-template-columns: 0.25fr auto;
    grid-template-areas: ". main";

    @include mobileSize {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }
}

.hero-section {
    // outline: solid red 1px;
    padding: 2em 0 0 0;
    @include flexCenter();
    position: relative;
    z-index: -1;

    @include mobileSize {
        padding: 0;
    }

    &__background {
        width: 35%;
        height: 300px;
        background: color(primary-blue);
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        border-radius: 999px 0 0 999px;

        @include mobileSize {
            // display: none;
            top: 19%;
            height: 30%;
            width: 75%;
        }
    }

    &--wrap {
        // outline: solid green 2px;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        margin-left: $margin;
        grid-area: main;
        // margin: $margin;

        @include mobileSize {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin-left: 0;
            align-items: center;
            padding: 2em;
        }

        .hero-info {
            display: flex;
            flex-direction: column;
            // padding: 2em 0;
            min-width: 500px;
            width: 100%;
            padding: 2em 0 0 0;
            // outline: solid brown 2px;

            @include mobileSize {
                align-items: center;
                text-align: center;
                min-width: unset;
            }

            &__h1 {
                font-size: clamp(2.8rem, 4vw, 4.5rem);
                font-weight: 500;
                margin-top: 1em;
                max-width: 15ch;

                @include mobileSize {
                    margin-top: 0;
                }
            }

            &__p {
                color: color(neutral-grayish-blue);
                margin-top: 1em;
                max-width: 45ch;
                font-size: clamp(1.6rem, 1.5vw, 1.8rem);

                @include mobileSize {
                    // max-width: 35ch;
                    // padding: 1em;
                }
            }
        }

        .hero-info__img {
            max-width: 657px;
            width: 100%;
            height: auto;
            // outline: solid red 1px;

            @include mobileSize {
                // max-width: 800px;
            }
        }
    }
}
